#main-game{
    padding-top: 30px;
    display:column;
}

#main-game .display{
    margin-top: 40px;

}

#main-game .container{
    justify-content: center;
}

.background {
    background-color: #12181B;
    height: 140vh;
    padding-top: 2rem;
}

.title {
    color: white;
    text-align: center;
    font-size: 20px;

}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    /* THIS IS SET IN THE INDEX.JS FILE */
    /* grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%; */

    /* 300px default */
    width: 200px;
    max-height: 200px;
}

.tile {
    border: 1px solid white;
    /* min width 30px default */
    /* min height 70px default*/
    min-width: 10px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
    text-align: center;
}

.playerO {
    color: #498AFB;
    text-align: center;
}

.controls {
    position: absolute;
    margin-left: 280px;
    margin-top: 250px;
}

.controls button {
    color: white;
    padding: 8px;
    border: none;
    font-size: 20px;
    margin-left: 5em;
    cursor: pointer;
    height: 70px;
    width: 70px;
    font-size: 12px;    
    background-color: #ef476f;
    border-radius: 20px;

    --s: 70px;   /* the size of the image */
    --b: 3px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #ff8fab; /* the color */
  
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
    
}

.controls button:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }

.back{
    display: flex;
    position: absolute;

}
.back button{
    border-radius: 10px;
    border-radius: 20px;
    font-size: 10px;
    background-color: #0EFFF8;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

@media(min-width:700px){
    .container {
        width: 300px;
        max-height: 300px;
    }
    .tiles {
        min-width: 30px;
        min-height: 70px;
    }
    .title { 
        font-size: 40px;
    }
}

@media(max-width:1340px){

    .controls {
        margin-top: 10px;
        margin-left: 0px;
    }
   
    .back{
        justify-content: right;
        margin-top: 10px;
        margin-right: 50px;
        position: relative;
    }
    
}